<section class = "hero">
  <div class="container">
    <div class="row">
      <div class="col col-12">
        <div class="hero__content">
          <!-- <div class="hero__image" style="background-image: url(rsz_chicago_blue.jpg)"> -->
          <div class="hero__image" style="background-image: url(triangle_cropped2.jpg)">
            <div class="hero__overlay"></div>
          </div>
          <div class="wrap">
            <h1 class="hero__title">{{ site.data.settings.author.say-hello }}</h1>
            <p class="hero__subtitle">{{ site.data.settings.author.bio1 }}</p>
            <p class="hero__subtitle">{{ site.data.settings.author.bio2 }}</p>
            <!-- {% include contact-link.html %} -->
          </div>
        </div>
      </div>
    </div>
  </div>
</section>