.contact {
  .contact__list {
    li {
      padding: 50px;
      margin-left: 10px;
      display: inline-block;

      a {
        border: 2px solid powderblue;
        padding: 50px;
        font-size: 50px;
        color: $white;
        &:hover {
          color: $brand-color;
        }
      }
    }
  }
}