.contact {
  .contact__list {
    li {
      margin-left: 10px;
      display: inline-block;

      a {
        padding: 5%;
        font-size: 20px;
        color: $black;
        &:hover {
          color: $brand-color;
        }
      }
    }
  }
}