// *****************
// Global Variables
// *****************

// Spaces
$base-spacing-unit: 20px;

// Border radius
$global-radius: 3px;

// Transition
$global-transition: all .35s;


// *****************
// Color Variables
// *****************
$brand-color: #2b6777;
$brand2-color: #52ab98;
$dark: #f2f2f2;
$page-color:#c8d8e4;

$white: #ffffff;
$light-gray: #e6eef0;
$light-black: #0a0a0a9f;
$black: #000000;

// Background Colors
$background-color: $page-color;

// Body Color
$text-color: $black;

// Headings
$heading-font-color: $light-gray;

// Links
$link-color: $brand-color;
// $link-color-hover: darken($black, 100%);
$link-color-hover: brightness(1.75);

// Button
$button-color: $white;
$button-background-color: $brand-color;

// Border
$border-color: $light-gray;


// *****************
// Typography
// *****************
$base-font-size: 18px;
$base-font-style: normal;
$base-font-variant: normal;
$base-font-weight: normal;
$base-font-family: 'Roboto', Helvetica Neue, Helvetica, Arial, sans-serif;
$base-line-height: 26px;

// Headings
$heading-font-weight: 700;
$heading-font-family: 'Roboto', Helvetica Neue, Helvetica, Arial, sans-serif;

$font-size-h1:  36px;
$font-size-h2:  28px;
$font-size-h3:  24px;
$font-size-h4:  20px;
$font-size-h5:  18px;
$font-size-h6:  16px;

$heading-line-height: 1.2;